/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

@font-face {
    font-family: 'Proxima Nova Alt Child';
    src: url('fonts/proxima_nova/Proxima Nova Alt Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt';
    src: url('fonts/proxima_nova/Proxima Nova Alt Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt';
    src: url('fonts/proxima_nova/Proxima Nova Alt Black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt Condensed';
    src: url('fonts/proxima_nova/Proxima Nova Alt Condensed Semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Scosf';
    src: url('fonts/proxima_nova/Proxima Nova ScOsf Thin-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt';
    src: url('fonts/proxima_nova/Proxima Nova Semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt';
    src: url('fonts/proxima_nova/Proxima Nova Thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}