.homepage--section-1.row-container .row-parent .single-internal-gutter .uncont > * {
	margin-top: inherit;
}
.homepage--section-1.row-container .row-parent .single-internal-gutter .uncont > div.text-block-second {
	margin-top: 10px;
}
.homepage--section-1.row-container .row-parent .uncont > :first-child {
	margin-top: 40px!important;
	@media (min-width: 768px) {
		margin-top: 140px!important;
	}
}

.homepage--section-2.row-container .row-parent .single-internal-gutter .uncont > * {
	margin-top: initial;
	&.section-2--text-block{
		margin-top: 20px;

		@media (min-width: 768px) {
			margin-top: inherit;
		}
	}

	&.section-2--heading-second{
		margin-top: 0;
		
		@media (min-width: 768px) {
			margin-top: inherit;
		}
	}
}
.homepage--section-2.row-container .row-parent .single-internal-gutter .uncont > div.section-2--heading-first {
	@media (min-width: 768px) {
		margin-top: 195px!important;
	}
}

.homepage--section-3.row-container .row-parent .column_child.single-internal-gutter .uncont > :not(:first-child) {
	margin-top: 0;

	&.object-heading {
		@media (min-width: 768px) {
			margin-top: 30px;
		}
	}
}

.homepage--section-4.row-container .row-parent .single-internal-gutter .uncont > * {
	margin-top: initial;
	&.section-4--text-block{
		margin-top: 20px;

		@media (min-width: 768px) {
			margin-top: inherit;
		}
	}

	&.section-4--heading-second{
		margin-top: 0;
		
		@media (min-width: 768px) {
			margin-top: inherit;
		}
	}
}
.homepage--section-4.row-container .row-parent .single-internal-gutter .uncont > div.section-4--heading-first {
	@media (min-width: 768px) {
		margin-top: 195px!important;
	}
}

.homepage--section-6.row-container .row-parent .single-internal-gutter .uncont > * {
	margin-top: initial;
	&.section-6--text-block{
		margin-top: 20px;

		@media (min-width: 768px) {
			margin-top: inherit;
		}
	}

	&.section-6--heading-second{
		margin-top: 0;
		
		@media (min-width: 768px) {
			margin-top: inherit;
		}
	}
}
.homepage--section-6.row-container .row-parent .single-internal-gutter .uncont > div.section-6--heading-first {
	@media (min-width: 768px) {
		margin-top: 195px!important;
	}
}

.post-content > .homepage--section-1 {
	margin-top: 40px;

	@media (min-width: 768px) {
		margin-top: 0;
	}
}

.homepage--section-1, .homepage--section-2, .homepage--section-3, .homepage--section-4, .homepage--section-5, .homepage--section-6 {
	position: relative;
	max-width: 1200px;
	width: 96%;
	margin-left: auto;
	margin-right: auto;

	&.row-container .row-parent {
		padding: 0;

	}
}

.homepage--section-1 {
	position: relative;
	margin-top: 40px;
	margin-bottom: 100px;

	@media (min-width: 768px) {
		margin-top: 0;
		margin-bottom: 50px;
	}

	div.heading {
		padding: 60px 150px 0 30px;

		@media (min-width: 768px) {
			display: block;
			margin-left: 16.66%;
			margin-top: 0;
			margin-bottom: 40px;
			padding: 0;
			width: 41.66%;
			max-width: 450px;
		}

		* {
			color: #fff;
			font-family: 'Proxima Nova Alt';
			font-weight: bold;
			font-size: 32px;
			line-height: 40px;
			text-shadow: 0px 0px 10px #333;

			@media (min-width: 768px) {
				text-align: left;
				font-size: 80px;
				line-height: 65px;
				text-align: left;
			}
		}
		
	}

	.text-block-first {
		padding: 30px 30px 0;

		@media (min-width: 768px) {
			margin-left: 8.33%;
			padding: 0 10px 0 0;
			width: 33.33%;
		}

		* {
			font-family: 'Proxima Nova Alt';
			font-size: 16px;
			line-height: 24px;
			color: #ffffff;

			@media (min-width: 768px) {
				font-size: 16px;
				line-height: 30px;
			}
		}
	}

	.section-1-image-first {
		position: absolute;
		top: 0;
		right: 30px;
		z-index: -1;

		@media (min-width: 768px) {
			width: 52%;
		}

		img {
			object-fit: cover;
			border-radius: 30px 0;
			width: 200px;
			height: 200px;
			margin-left: auto;

			@media (min-width: 768px) {
				border-radius: 60px 0;
				width: 100%;
				margin-left: 0;
			}
		}
	}

	.section-1--video-container {
		position: absolute;
		top: 0;
		right: 30px;
		z-index: -1;
		overflow: hidden;

		@media (min-width: 768px) {
			width: 52%;
		}

		video {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

	}

	.grey-bg {
		background-color: $container_background_grey;
		border-radius: 80px 0;
		position: absolute;
		z-index: -3;
		width: 100%;
		top: 40px;
		left: 0;

		@media (min-width: 768px) {
			width: 66.66%;
			top: 45px;
			left: 16.66%;
			transform: translateX(30px);
		}
	}

	.blue-bg {
		position: absolute;
		border-radius: 80px 0;
		background-color: $dark_blue;
		left: 0;
		z-index: -2;
		width: 100%;

		@media (min-width: 768px) {
			border-radius: 0 100px 0 100px;
			width: 75%;
		}
	}

	.white-bg {
		display: none;

		@media (min-width: 768px) {
			display: block;
			background-color: #fff;
			border-radius: 60px 0 60px 0;
			width: 58.33%;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: -1;
		}
	}

	.section-1-image-second {
		position: absolute;
		right: 40px;
		display: none;

		@media (min-width: 768px) {
			display: block;
			right: 41.66%;
			transform: translateX(-50%);
			width: 16.66%;
			z-index: 0;
		}

		img {
			object-fit: cover;
			border-radius: 40px 0;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.text-block-second {
		padding-left: 100px;
		position: initial;
		padding: 50px 30px 10px;

		@media (min-width: 768px) {
			width: 41.66%;
			margin-left: 50%;
			padding: 0 0 0 50px;
			position: absolute;
		}

		* {
			font-family: 'Proxima Nova Alt';
			font-size: 16px;
			line-height: 27px;
			color: #747474;

			b, strong {
				font-size: 32px;
				font-weight: bold;
				color: #2C2C2C;

				@media (min-width: 768px) {
					font-size: 20px;
					color: inherit;
				}
			}
		}
	}

	.rounded-icons.rounded-icons-type-2 {
		position: absolute;
		right: 240px;

		@media (min-width: 768px) {
			left: 3px;
			right: auto;
		}
	}
}

.homepage--section-2 {
	position: relative;
	margin-bottom: 50px;

	.section-2--image-first {
		position: absolute;
		right: 30px;
		top: -40px;
		z-index: -1;

		@media (min-width: 768px) {
			width: 45%;
			right: 0;
			top: 0;
		}

		img {
			object-fit: cover;
			border-radius: 30px 0;
			width: 200px;
			height: 200px;
			margin-left: auto;

			@media (min-width: 768px) {
				border-radius: 60px 0;
				width: 100%;
				margin-left: 0;
			}
		}
	}

	.section-2--image-second {
		display: none;

		@media (min-width: 768px) {
			display: block;
			position: absolute;
			right: 16.66%;
			width: 16.66%;
			z-index: -1;
		}

		img {
			object-fit: cover;
			object-position: top;
			width: 100%;
			height: 100%;
			border-radius: 40px 0;
		}
	}

	div.section-2--heading-first {
		padding: 60px 60px 0 20px;

		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			margin-left: 16.66%;
			margin-bottom: 0;
			width: 58.33%;
		}

		* {
			color: #fff;
			font-family: 'Proxima Nova Alt';
			font-weight: bold;
			font-size: 16px;
			line-height: 20px;
			text-shadow: 0px 0px 10px #333;
		}

	}

	div.section-2--heading-second {
		padding: 0 150px 0 20px;

		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
			margin-left: 16.66%;
			margin-bottom: 30px;
			width: 58.33%;
		}

		* {
			color: #fff;
			font-family: 'Proxima Nova Alt';
			font-weight: bold;
			font-size: 32px;
			line-height: 40px;
			text-shadow: 0px 0px 10px #333;

			@media (min-width: 768px) {
				text-align: left;
				font-size: 70px;
				line-height: 68px;
				text-align: left;
			}
		}

	}

	.section-2--text-block {
		padding-left: 20px;
		padding-right: 20px;

		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
			margin-left: 8.33%;
			width: 41.66%;
		}

		* {
			font-family: 'Proxima Nova Alt';
			font-size: 16px;
			line-height: 26px;
			color: rgba(255,255,255,0.8);
		}

		a {
			color: #fff;
			font-weight: bold;
		}
	}

	.rounded-icons.rounded-icons-type-2 {
		position: absolute;
		left: 4%;
		top: 120px;
		display: none;

		@media (min-width: 768px) {
			display: block;
		}
	}

	.grey-bg {
		display: none;

		@media (min-width: 768px) {
			display: block;
			background-color: $container_background_grey;
			border-radius: 130px 0;
			width: 83.33%;
			position: absolute;
			top: 40px;
			right: 8.33%;
			z-index: -3;
		}
	}

	.purple-bg {
		background-color: $event_purple;
		border-radius: 60px 0;
		z-index: -2;
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;

		@media (min-width: 768px) {
			width: 75%;
			top: 140px;
			border-radius: 0 100px 0 100px;
		}
	}

	.rounded-icons.rounded-icons-type-4 {
		position: absolute;
		right: 20px;
		top: -180px;

		@media (min-width: 768px) {
			top: -70px;
		}
	}
}

.homepage--section-3 {
	padding: 50px 0;
	margin-bottom: 50px;

	@media (min-width: 768px) {
		padding: 170px 0;
		margin-bottom: -10px;
	}

	.homepage-object {
		width: 100%;
		min-height: 120px;
		margin-left: 0;
		margin-bottom: 50px;

		@media (min-width: 768px) {
			width: 66.66%;
			min-height: 200px;
			margin-left: 16.66%;
			margin-bottom: 100px;
		}

		&:nth-of-type(2n-1) {
			@media (min-width: 768px) {
				margin-left: 33.33%;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		@media (min-width: 960px) {
			width: 50%;
			margin-left: 25%;

			&:nth-of-type(2n-1) {
				margin-left: 41.66%;
			}
		}

		.uncont {
			display: flex;
			flex-direction: column;
			min-height: 120px;

			@media (min-width: 768px) {
				min-height: 200px;
			}
		}

		&.purple {
			.object-left-side {
				background-color: $event_purple;
			}
		}

		&.green {
			.object-left-side {
				background-color: $event_green;
			}
		}

		&.blue {
			.object-left-side {
				background-color: $dark_blue;
			}
		}

		.object-left-side {
			width: 150px;
			height: 120px;
			padding: 27px;
			border-radius: 0 30px;
			position: absolute;
			top: 0;
			left: 0;

			@media (min-width: 768px) {
				width: 250px;
				height: 200px;
				padding: 45px;
				border-radius: 0 50px;
			}

			* {
				font-size: 84px;
				line-height: 66px;
				text-align: center;
				font-family: 'Proxima Nova Alt';
				font-weight: 700;
				color: #fff;
				@media (min-width: 768px) {
					font-size: 128px;
					line-height: 110px;
				}
			}
		}

		.object-heading {
			margin-bottom: 10px;
			padding-left: 170px;

			@media (min-width: 768px) {
				padding-left: 270px;
				margin-bottom: auto;
			}

			* {
				color: #2C2C2C;
				font-family: 'Proxima Nova Alt';
				font-weight: bold;
				font-size: 30px;
				line-height: 32px;
				text-transform: uppercase;
			}
		}

		.object-textblock {
			padding-left: 170px;

			@media (min-width: 768px) {
				padding-left: 270px;
			}

			a {
				color: #fff;
				font-weight: bold;
			}			
		}
	}

	.type-2-first {
		position: absolute;
		top: 70px;
		left: 16.66%;
		display: none;

		@media (min-width: 768px) {
			display: block;
		}

		@media (min-width: 960px) {
			left: 25%;
		}
	}

	.type-2-second {
		position: absolute;
		top: 580px;
		left: 30px;
		display: none;

		@media (min-width: 768px) {
			display: block;
		}
	}

	.grey-bg-first, .grey-bg-second {
		border-radius: 0 70px 0 60px;
		background-color: $container_background_grey;
		position: absolute;
		height: 100%;
		top: 0;
		z-index: -1;
		width: 90%;
		right: 0;

		@media (min-width: 768px) {
			width: 33.33%;
			right: 8.33%;
		}
	}

	.grey-bg-second {
		height: 56%;
		top: auto;
		left: 8.33%;
		bottom: 170px;
		border-radius: 70px 60px 60px 0;
		transform: translateX(-30px);
	}
}

.homepage--section-4 {
	position: relative;
	margin-bottom: 50px;

	.section-4--image-first {
		position: absolute;
		right: 30px;
		top: -40px;
		z-index: -1;

		@media (min-width: 768px) {
			width: 41.66%;
			right: auto;
			left: 0;
			top: 0;
		}

		img {
			object-fit: cover;
			border-radius: 30px 0;
			width: 200px;
			height: 200px;
			margin-left: auto;

			@media (min-width: 768px) {
				border-radius: 60px 0;
				width: 100%;
				margin-left: 0;
			}
		}
	}

	.section-4--image-second {
		display: none;

		@media (min-width: 768px) {
			display: block;
			position: absolute;
			left: 25%;
			width: 16.66%;
			z-index: -1;
			transform: translateX(30px);
		}

		img {
			object-fit: cover;
			object-position: top;
			width: 100%;
			height: 100%;
			border-radius: 40px 0;
		}
	}

	div.section-4--heading-first {
		padding: 60px 60px 0 20px;

		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			margin-left: 30%;
			margin-bottom: 0;
			width: 58.33%;
		}

		* {
			color: #fff;
			font-family: 'Proxima Nova Alt';
			font-weight: bold;
			font-size: 16px;
			line-height: 20px;
			text-shadow: 0px 0px 10px #333;
		}

	}

	div.section-4--heading-second {
		padding: 0 150px 0 20px;

		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
			margin-left: 30%;
			margin-bottom: 20px;
			width: 58.33%;
		}

		* {
			color: #fff;
			font-family: 'Proxima Nova Alt';
			font-weight: bold;
			text-shadow: 0px 0px 10px #333;
			font-size: 32px;
			line-height: 40px;

			@media (min-width: 768px) {
				font-size: 70px;
				line-height: 68px;
			}
		}

	}

	.section-4--text-block {
		padding-left: 20px;
		padding-right: 20px;

		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
			margin-left: 50%;
			width: 41.66%;
		}

		* {
			font-family: 'Proxima Nova Alt';
			font-size: 16px;
			line-height: 26px;
			color: rgba(255,255,255,0.8);
		}

		a {
			color: #fff;
			font-weight: bold;
		}
	}

	.grey-bg {
		display: none;

		@media (min-width: 768px) {
			display: block;
			background-color: $container_background_grey;
			border-radius: 130px 0;
			width: 83.33%;
			position: absolute;
			top: 40px;
			right: 8.33%;
			z-index: -3;
		}
	}

	.blue-bg {
		background-color: $event_blue;
		border-radius: 60px 0;
		z-index: -2;
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;

		@media (min-width: 768px) {
			width: 66.66%;
			top: 140px;
			left: auto;
			right: 0;
			border-radius: 0 100px 0 100px;
		}
	}

	.rounded-icons.rounded-icons-type-1 {
		position: absolute;
		right: 8.33%;
		top: 100%;

		@media (min-width: 768px) {
			top: 120px;
		}
	}
}

.homepage--section-5 {
	padding: 30px 0 60px;
	margin-bottom: 100px;

	@media (min-width: 768px) {
		padding: 60px 0 120px;
		margin-bottom: 50px;
	}

	.section-5--media {
		max-height: 400px;
		@media (min-width: 768px) {
			max-height: 500px;
		}

		img {
			max-height: 400px;
			width: auto;
			margin-left: auto;
			margin-right: auto;

			@media (min-width: 768px) {
				max-height: 500px;
			}
		}

		video {
			width: 100%;
			max-width: 700px;
			height: 400px;
			max-height: 75vh;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}

	.grey-bg {
		background-color: $container_background_grey;
		width: 66.66%;
		right: 0;
		position: absolute;
		z-index: -1;
		top: 10%;
		height: 90%;
		border-radius: 80px 0;


		@media (min-width: 768px) {
			border-radius: 130px 0;
			height: 100%;
			top: 0;
		}
	}

	.rounded-icons.rounded-icons-type-2 {
		position: absolute;
		right: 30px;
		bottom: -20px;
		z-index: 1;

		@media (min-width: 768px) {
			display: none;
		}
	}
}

.homepage--section-6 {
	position: relative;
	margin-bottom: 50px;

	.section-6--image-first {
		position: absolute;
		right: 30px;
		top: -40px;
		z-index: -1;

		@media (min-width: 768px) {
			width: 45%;
			right: 0;
			top: 0;
		}

		img {
			object-fit: cover;
			border-radius: 30px 0;
			width: 200px;
			height: 200px;
			margin-left: auto;

			@media (min-width: 768px) {
				border-radius: 60px 0;
				width: 100%;
				margin-left: 0;
			}
		}
	}

	.section-6--image-second {
		display: none;

		@media (min-width: 768px) {
			display: block;
			position: absolute;
			right: 16.66%;
			width: 16.66%;
			z-index: -1;
		}

		img {
			object-fit: cover;
			object-position: top;
			width: 100%;
			height: 100%;
			border-radius: 40px 0;
		}
	}

	div.section-6--heading-first {
		padding: 60px 60px 0 20px;
		position: relative;
		z-index: 1;

		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			margin-left: 8.33%;
			margin-bottom: 0;
			width: 58.33%;
		}

		* {
			color: #fff;
			font-family: 'Proxima Nova Alt';
			font-weight: bold;
			font-size: 16px;
			line-height: 20px;
			text-shadow: 0px 0px 10px #333;
		}

	}

	div.section-6--heading-second {
		padding: 0 150px 0 20px;

		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
			margin-left: 8.33%;
			margin-bottom: 20px;
			width: 58.33%;
		}

		* {
			color: #fff;
			font-family: 'Proxima Nova Alt';
			font-weight: bold;
			text-shadow: 0px 0px 10px #333;
			font-size: 32px;
			line-height: 40px;

			@media (min-width: 768px) {
				font-size: 70px;
				line-height: 68px;
			}
		}

	}

	.section-6--text-block {
		padding-left: 20px;
		padding-right: 20px;

		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
			margin-left: 16.66%;
			width: 41.66%;
		}

		* {
			font-family: 'Proxima Nova Alt';
			font-size: 16px;
			line-height: 26px;
			color: rgba(255,255,255,0.8);
		}

		a {
			color: #fff;
			font-weight: bold;
		}
	}

	.rounded-icons.rounded-icons-type-1 {
		position: absolute;
		right: 30px;
		top: 120px;
		display: none;

		@media (min-width: 768px) {
			display: block;
		}
	}

	.rounded-icons.rounded-icons-type-2 {
		position: absolute;
		right: 240px;
		top: -20px;

		@media (min-width: 768px) {
			left: 3px;
			right: auto;
			display: none;
		}
	}

	.grey-bg {
		display: none;

		@media (min-width: 768px) {
			display: block;
			background-color: $container_background_grey;
			border-radius: 130px 0;
			width: 83.33%;
			position: absolute;
			top: 40px;
			right: 8.33%;
			z-index: -3;
		}
	}

	.orange-bg {
		background-color: $event_orange;
		border-radius: 60px 0;
		z-index: -2;
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;

		@media (min-width: 768px) {
			width: 75%;
			top: 140px;
			border-radius: 0 100px 0 100px;
		}
	}
}